*.dll
*.exe
*.nes
*.cache
/.vs
/CadEditor/packages
/CadEditor/.vs
/CadEditor/bin
/CadEditor/obj
/PluginVideoNes/.vs
/PluginVideoNes/bin
/PluginVideoNes/obj
/CadEditor/*.pdb
/CadEditor/*.deb

# stray files from build
CadEditor/CadEditor.exe.config
CadEditor/ConfigViewer.exe.config
CadEditor/CSScriptLibrary.xml
